
.lista-opciones label {
    font-family: "Source Sans 3", sans-serif;
    font-size: 25px;
    font-weight: 600;
    color: #fff;
    display: flex;
    padding: 20px 0;
}

.lista-opciones select {
    font-family: "Source Sans 3", sans-serif;
    font-size: 20px;
    font-weight: 500;
    width: 350px;
    height: 52px;
    background-color: #191919;
    border-color: none;
    border-radius: 10px;
    padding: 10px 5px;
    outline-color: #A5A5A5;
    color: #A5A5A5;
    
}