
.card_banner{
    /* border: 2px solid yellow; */
    /* font-family: "Source Sans 3", sans-serif; */
    color: #fff;
    width: 1363.78px;
    height: 333.58px ;
    margin: 0 70px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-flow: wrap;
}

.titulo{
    /* width: 296.82px;
    height: 92px;
    background-color: #6BD1FF;
    font-family: "Roboto", sans-serif;
    border-radius: 15px;
    font-size: 48px;
    font-weight: 600; */
    display: flex;
    justify-content: center;
    align-items: center;

}

.card_banner h1{
    font-family: "Roboto", sans-serif;
    font-size: 46px;
    font-weight: 500;
    
}

.card_banner p{
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    font-weight: 200;
    width: 662.84px;
    height: 110px;

}