.editar_formato {
    display: flex;
    color: #fff;
    height: 1140px;
    width: 954px;
    background-color: #252525;
    border: 3px solid #ffffff;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.titulo_editar {
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    font-size: 60px;
    margin: 0;
}

.botons{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}